{
  "singleQuote": true,
  "importOrder": [
    "^react(.*)$",
    "^[../../../../]",
    "^[../../../]",
    "^[../../]",
    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
